/* Bag Solutions styling */

/* rgb(207,222,92); */

/* rgb(8, 55, 19); */

.panel h2 {
	color: rgb(8,55,19);
}

p.nafa a {
	color: rgb(234,107,0);
}

/* Colors */

.clr1, .clr2, .clr3, .clr4, .clr5, .clr6, .clr7, .clr8, .clr9, .clr10, .clr11, .clr12 {
	width: 30px;
	height: 30px;
}

.clr1 {
	background-color: rgb(255, 255, 0);
}

.clr2 {
	background-color: rgb(255, 0, 0);
}

.clr3 {
	background-color: rgb(255, 153, 204);
}

.clr4 {
	background-color: rgb(255, 102, 0);
}

.clr5 {
	background-color: rgb(102, 51, 153);
}

.clr6 {
	background-color: rgb(51, 204, 0);
}

.clr7 {
	background-color: rgb(0, 153, 255);
}

.clr8 {
	background-color: rgb(0, 0, 102);
}

.clr9 {
	background-color: rgb(102, 51, 0);
}

.clr10 {
	background-color: rgb(0, 0, 0);
}

.clr11 {
	background-color: rgb(255, 255, 204);
}

.clr12 {
	background-color: rgb(153, 153, 153);
}

body {
	background-color: rgb(207,222,92);
}

#main {
	background-color: #ffffff;	
}

.menu {
	background-color: rgba(207, 222, 92, 0.85);
}

div.bh.active {
	border-bottom: 2px solid rgb(207,222,92);
	background-color: rgb(255,255,255);
}

	div.bh.active a {
		color: rgb(207,222,92);
	}

li {
	padding-left: 1rem;
    color: rgb(8,55,19);
    content: '\2022';
}

h1, section#quienes div.item h2, section#quienes h3 {
	color: rgb(8,55,19);
	font-weight: 700;
}

section#quienes h3 {
	text-align: center;
}

footer {
	background-color: rgb(8,55,19);
}

/* Mobile Menu styles */

nav a {
	color:rgb(8,55,19);
}

button.menuB {
	background-color: rgb(207,222,92);
}

	button.menuB:hover, button.menuB:focus {
		background-color: rgba(207, 222, 92, 0.85);
	}

div.fixed.center.hide-for-medium-up {
	background: rgba(255, 255, 255, 0.95);
}

i.step.fi-align-justify {
	color:  rgb(207,222,92);
}

div.controls > button.active {
	background: rgb(207,222,92);
}

div.controls > button {
	color: rgb(255,255,255);
}