/* Disney styling */

/* rgb(238,51,47); Red*/

/* rgb(248,235,98); Yellow*/

.panel h3 {
	color: rgb(160,45,118);
}

p.nafa a {
	color: rgb(234,107,0);
}

/* Colors */

body {
	background-color: rgb(238,51,47);
	background: url(licencia-disney.png) fixed top center repeat;
}

#main {
	background-color: #ffffff;	
}

.menu {
	background-color: rgba(238,51,47,0.85);
}

div.bh.active {
	border-bottom: 2px solid rgb(238,51,47);
	background-color: rgb(255,255,255);
}

	div.bh.active a {
		color: rgb(238,51,47);;
	}

li {
	padding-left: 1rem;
    color: rgb(238,51,47);
    content: '\2022';
}

section#quienes h3 {
	color: rgb(160,45,118);
	font-weight: 700;
	text-align: center;
}

footer {
	background-color: rgb(248,235,98);
}

	footer p {
		color: rgb(238,51,47);
	}

/* Mobile Menu styles */

nav a {
	color: rgb(238,51,47);
}

button.menuB {
	background-color: rgb(238,51,47);;
}

	button.menuB:hover, button.menuB:focus {
		background-color: rgba(238,51,47,0.85);
	}

div.fixed.center.hide-for-medium-up {
	background: rgba(255, 255, 255, 0.95);
}

i.step.fi-align-justify {
	color:  rgb(238,51,47);;
}

div.controls > button.active {
	background: rgb(238,51,47);;
}

div.controls > button {
	color: rgb(255,255,255);
}