/* Marnatak styling */

/* rgb(207,0,42); Red */

/* rgb(25,165,59); Green */

/* Colors */

body {
	background-color: rgb(207,0,42);
}

#main {
	background-color: #ffffff;	
}

.menu {
	background-color: rgba(207,0,42,0.85);
}

div.bh.active {
	border-bottom: 2px solid rgb(207,0,42);
	background-color: rgb(255,255,255);
}

	div.bh.active a {
		color: rgb(207,0,42);;
	}

li {
	padding-left: 1rem;
    color: rgb(25,165,59);
    content: '\2022';
}

span.pager.active {
	background: rgb(207,0,42);
	border-color: rgb(25,165,59);
}

footer {
	background-color: rgb(25,165,59);
}

/* Mobile Menu styles */

nav a {
	color:rgb(25,165,59);
}

button.menuB {
	background-color: rgb(207,0,42);
}

	button.menuB:hover, button.menuB:focus {
		background-color: rgba(207,0,42,0.85);
	}

div.fixed.center.hide-for-medium-up {
	background: rgba(255, 255, 255, 0.95);
}

i.step.fi-align-justify {
	color:  rgb(207,0,42);
}

div.controls > button.active {
	background: rgb(207,0,42);
}

div.controls > button {
	color: rgb(255,255,255);
}